<html>
  <head>
    <title>show_gossip</title>

  </head>
  <body>
    <h1>Ceci est la page du potin  numéro <%= gossip[0] %><br/></h1>
    <p>Ce potin a été écrit par :  <%= gossip[1] %><br/></p>
    <p>Contenu du potin :  <%= gossip[2] %><br/></p>
  
    

  </body>
</html>
# <%=%> c'est pour mettre des variables ruby dans du html


